/* app.css */


#login{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: white;
  text-align: center;
}

#loginModal{

  margin-top: 200px;
  display: inline-block;
  width: 400px;
  height: 400px;
  border: 1px solid #BBB;
  border-radius:6px;

}

#login a{
  margin-top: 280px;
  text-decoration: none;
  color: #DAE5F3;
  font-size: 20px;
  font-weight: 400;
  padding: 18px;

  display: inline-block;
  width: 300px;
  height: 60px;

  background: -webkit-linear-gradient(top, #0B62EB, #0850EB);
  border: 1px solid #04369B;


  border-radius: 4px;
}

#login a:hover{

  /*background: -webkit-linear-gradient(top, #3775FF, #0D55F3);*/
  background: -webkit-linear-gradient(top, #2162FF, #0850EB);
  box-shadow: 0 2px 8px rgba(33, 119, 255, 0.5);
  /*box-shadow: inset 0 5px 30px rgba(73, 141, 255, 0.3);*/
}

#login a:active{
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);

  background: -webkit-linear-gradient(top, #0850EB, #0B62EB);
}